<h1>Game Analysis</h1>

<div *ngIf="false">
<h2 >Configuration</h2>
<p>
  Authen As :
  <span>
    <p-selectbutton [options]="options" [(ngModel)]="selectedOption" (onChange)="onChaneRole()" optionLabel="label" optionValue="value" aria-labelledby="basic" />
  </span>
</p>
</div>

<div *ngIf="!isAdmin()">
  <h2>Player</h2>
</div>

<div *ngIf="isAdmin()">
  <h2 >Admin Dashboard</h2>
  
  <h3> Churning Players
    <span>
      <p-button label="Refresh" (click)="loadChurnings()"/>
    </span>
  </h3>
  
  <p-table [value]="churnings()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>User Id</th>
        <th>Reason</th>
        <th>Detected At</th>
      </tr>
    </ng-template>
    <ng-template #body let-activity>
      <tr>
        <td>{{ activity.userId }}</td>
        <td>{{ activity.reason.join(', ') }}</td>
        <td>{{ activity.detectedAt }}</td>
      </tr>
    </ng-template>
  </p-table>
  
  <h3>Players Activity Sammary
    <span>
      <p-button label="Refresh" (click)="loadActivities()"/>
    </span>
  </h3>
  <p-table [value]="activities()" [tableStyle]="{'min-width': '60rem'}">
    <ng-template #header>
      <tr>
        <th pSortableColumn="userId" style="width:20%">
          <div class="flex items-center gap-2">
                    User Id
                    <p-sortIcon field="userId" />
                  </div>
                </th>
                <th pSortableColumn="totalLogin" style="width:20%">
                  <div class="flex items-center gap-2">
                    Total Login
                    <p-sortIcon field="totalLogin" />
                  </div>
                </th>
                <th pSortableColumn="totalOnlineTime" style="width:20%">
                  <div class="flex items-center gap-2">
                    Total Online Time
                    <p-sortIcon field="totalOnlineTime" />
                  </div>
                </th>
                <th pSortableColumn="achievementCount" style="width:20%">
                  <div class="flex items-center gap-2">
                    Achievement Count
                    <p-sortIcon field="achievementCount" />
                  </div>
                </th>
                <th pSortableColumn="purchasedCount" style="width:20%">
                  <div class="flex items-center gap-2">
                    Purchased Count
                    <p-sortIcon field="purchasedCount" />
                  </div>
                </th>
                <th pSortableColumn="moneySpend" style="width:20%">
                  <div class="flex items-center gap-2">
                    Money Spend
                    <p-sortIcon field="moneySpend" />
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-activity>
              <tr>
                <td>{{ activity.userId }}</td>
                <td>{{ activity.totalLogin }}</td>
                <td>{{ activity.totalOnlineTime }}</td>
                <td>{{ activity.achievementCount }}</td>
                <td>{{ activity.purchasedCount }}</td>
                <td>{{ activity.moneySpend }}</td>
              </tr>
    </ng-template>
  </p-table>
</div>
  
  <router-outlet />
  